ch3-classification/datasets

projects/**/data/

ch10-neural-networks-1/my_keras_model
ch10-neural-networks-1/*checkpoint*
ch10-neural-networks-1/tensorboard_logs
ch10-neural-networks-1/my_fashion_mnist
ch10-neural-networks-1/my_mnist
ch11-deep-learning/my_model_A
ch11-deep-learning/my_cifar10_model
ch13-data-processing/datasets
ch13-data-processing/my_pet_classifier
ch15-sequences/models_cp
ch16-nlp/models